name: Release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create release zip
        run: zip -r SimpleCursorRing-${{ github.event.release.tag_name }}.zip SimpleCursorRing/

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: SimpleCursorRing-${{ github.event.release.tag_name }}.zip
          prerelease: true
